@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


index.css
.boba-pattern {
  background-image: url('./assets/pearl.png'); 
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 80px; 
  height: 200px; 
}